<html>

<head>
    <title>Deployment Manager UI</title>

    <link rel="stylesheet" href="lib/bootstrap-4.0.0.min.css">
    <style>
    .badge{
        margin: 5px 0 5px 0;
    }
    .borderless td, .borderless th {
        border: none;
        /*border-left: solid 1px gray;*/
        border-bottom: solid 1px gray;
    }
    </style>

    <script src="lib/axios.min.js"></script>
    <script src="lib/vue.js"></script>
    <script src="lib/jquery-3.2.1.slim.min.js"></script>
    <script src="lib/popper-1.12.9.min.js"></script>
    <script src="lib/bootstrap-4.0.0.min.js"></script>
    <script src="lib/moment.min.js"></script>
</head>

<body>

    <table id="app" class="table table-sm borderless">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Tags</th>
            <th scope="col">Task</th>
            <!--<th scope="col">History</th>-->
        </tr>
        </thead>
        <tbody>
        <tr v-for="(target, id) in targets">
            <!-- ID -->
            <th scope="row" v-bind:class="target.Task.Error ? 'table-danger' : 'table-success'">{{ id }}</th>
            <!-- TAGS -->
            <td>
               <table>
                   <tr v-for="tag in target.Tags"><td>{{ tag }}</td></tr>
               </table>
            </td>
            <!-- TASK -->
            <td>
                <table v-if="target.Task.ID">
                    <tr><td>Task ID</td><td>{{ target.Task.ID }}</td></tr>
                    <tr><td>Current Stage</td><td>{{ target.Task.CurrentStage }}</td></tr>
                    <!--<tr><td>Error</td><td>{{ target.Task.Error }}</td></tr>-->
                    <tr><td>Stages</td><td>
                        <table>
                            <tr v-if="target.Task.StageLogs.Transfer.Status"><td>Transfer</td><td>
                                <table class="w-100">
                                    <tr><div class="badge badge-light">{{ target.Task.StageLogs.Transfer.Status }}</div></tr>
                                    <tr><div style="padding: 5px;" v-for="log in target.Task.StageLogs.Transfer.Logs" v-bind:class="log.Error ? 'table-danger' : 'table-success'">{{ log.Output }}</div></tr>
                                </table>
                                <div class="badge badge-light">Updated at {{ target.Task.StageLogs.Transfer.Updated }}</div>
                            </td></tr>
                            <tr v-if="target.Task.StageLogs.Install.Status"><td>Install</td><td>
                                <table class="w-100">
                                    <tr><div class="badge badge-light">{{ target.Task.StageLogs.Install.Status }}</div></tr>
                                    <tr v-for="(logs, command) in target.Task.StageLogs.Install.LogDict">
                                        <td>{{ command }}</td>
                                        <td style="padding: 0;">
                                            <div style="padding: 5px;" v-for="log in logs" v-bind:class="log.Error ? 'table-danger' : 'table-success'">{{ log.Output }}</div>
                                        </td>
                                    </tr>
                                </table>
                                <div class="badge badge-light">Updated at {{ target.Task.StageLogs.Install.Updated }}</div>
                            </td></tr>
                            <tr v-if="target.Task.StageLogs.Run.Status"><td>Run</td><td>
                                <table class="w-100">
                                    <tr><div class="badge badge-light">{{ target.Task.StageLogs.Run.Status }}</div></tr>
                                    <tr v-for="(logs, command) in target.Task.StageLogs.Run.LogDict">
                                        <td >{{ command }}</td>
                                        <td style="padding: 0;">
                                            <div style="padding: 5px;" v-for="log in logs" v-bind:class="log.Error ? 'table-danger' : 'table-success'">{{ log.Output }}</div>
                                        </td>
                                    </tr>
                                </table>
                                <div class="badge badge-light">Updated at {{ target.Task.StageLogs.Run.Updated }}</div><br>
                                <button type="button" v-on:click="fetchLogs(id)" class="btn btn-outline-dark btn-sm">Fetch</button>
                            </td></tr>

                        </table>
                    </td></tr>
                </table>
            </td>
            <!-- HISTORY -->
            <!--
            <td>
                <table>
                    <tr v-for="(value, key) in target.History"><td>{{ key }}</td><td>{{ value }}</td></tr>
                </table>
            </td>
            -->
        </tr>
        </tbody>
    </table>

    <script>

        var app = new Vue({
            el: '#app',
            data: {
                targets: {}
            },
            methods: {
                fetchLogs: function (id) {
                    axios.put('http://localhost:8080/targets/'+id+'/logs/RUN')
                        .then(function (response) {
                            // alert(response.data.message);
                            // console.log(response.data.message);
                        })
                        .catch(function (error) {
                            alert(error);
                        });
                }
            }
        })

        function view(targets){

            for(var key in targets){
                if(targets[key].Task.StageLogs.Run.Logs) {
                    var logs = targets[key].Task.StageLogs.Run.Logs;
                    var logdict = {};
                    for (var i = 0; i < logs.length; i++) {
                        (logdict[logs[i].Command] = logdict[logs[i].Command] || []).push(logs[i]);
                    }
                    targets[key].Task.StageLogs.Run.LogDict = logdict;
                }
                if(targets[key].Task.StageLogs.Install.Logs) {
                    var logs = targets[key].Task.StageLogs.Install.Logs;
                    var logdict = {};
                    for (var i = 0; i < logs.length; i++) {
                        (logdict[logs[i].Command] = logdict[logs[i].Command] || []).push(logs[i]);
                    }
                    targets[key].Task.StageLogs.Install.LogDict = logdict;
                }

                var t = targets[key].Task.StageLogs.Transfer.Updated;
                targets[key].Task.StageLogs.Transfer.Updated = moment(t).format('h:mm:ss');
                var t = targets[key].Task.StageLogs.Install.Updated;
                targets[key].Task.StageLogs.Install.Updated = moment(t).format('h:mm:ss');
                var t = targets[key].Task.StageLogs.Run.Updated;
                targets[key].Task.StageLogs.Run.Updated = moment(t).format('h:mm:ss');
            }

            app.targets = targets;
        }


        function getTargets() {
            axios.get('http://localhost:8080/targets')
                    .then(function (response) {
                        view(response.data);
                    })
                    .catch(function (error) {
                        // handle error
                        console.log(error);
                        setTimeout(function () {
                            getTargets();
                        }, 5000);
                    })
                    .then(function () {

                    });
        }

        function listen() {
            if (!("WebSocket" in window)) {
                alert("WebSocket is not supported by your Browser!");
                return;
            }

            var ws = new WebSocket("ws://localhost:8080/ws");
            ws.onopen = function () {
                console.log("Socket connected.");
                document.body.style.backgroundColor = "#fff";
                getTargets();
            }
            ws.onmessage = function (event) {
                // console.log(event.data);
                var obj = JSON.parse(event.data);
                view(obj);
            }
            ws.onclose = function () {
                console.log("Socket disconnected.");
                document.body.style.backgroundColor = "#fcc";
                setTimeout(function () {
                    listen();
                }, 5000);
            };

        }

        getTargets();
        listen();

    </script>

</body>

</html>